body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
}

h1 {
  margin-top: 15px;
  font-size: 32px;
}

#subtitle {
  color: #94a3b8;
  margin-bottom: 10px;
}

canvas {
  background: #020617;
  border: 2px solid #334155;
  border-radius: 8px;
}

#ui {
  margin-top: 10px;
}

#startBtn {
  margin-top: 10px;
  padding: 12px 30px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background: #22c55e;
  cursor: pointer;
}

#startBtn:hover {
  background: #16a34a;
}

#controls {
  margin-top: 15px;
}

#controls button {
  width: 80px;
  height: 60px;
  font-size: 30px;
  margin: 0 20px;
  border-radius: 10px;
  border: none;
  background: #334155;
  color: white;
}
